:root {
  --c-bg-dark: rgb(25, 25, 25);
  --c-sidebar: rgb(40, 40, 40);
  --c-text-light: rgb(230, 230, 230);
  --c-text-medium: rgb(160, 160, 160);
  --c-accent-blue: rgb(0, 128, 255);
  --c-glow-blue: rgb(0, 128, 255);
  --sidebar-width: 300px;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--c-accent-blue);
  color: var(--c-bg-dark);
}

body {
  font-family:
    "Oswald",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: var(--c-bg-dark);
  color: var(--c-text-light);
  overflow: hidden;
}

.header {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: var(--c-text-light);
  font-size: 90%;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 0 0 5px var(--c-glow-blue);
  -webkit-app-region: drag;
  background-color: var(--c-sidebar);
  border-bottom: 1px solid var(--c-bg-dark);
}

.main {
  width: 100%;
  height: calc(100vh - 31px);
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
}

.main .sidebar {
  background-color: var(--c-sidebar);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}

.main .sidebar .pagination {
  display: flex;
  align-items: center;
  font-size: 80%;
  padding: 10px;
  color: var(--c-text-medium);
  font-weight: 500;
  white-space: nowrap;
  text-wrap: nowrap;
  overflow-y: auto;
}

.main .sidebar .pagination .path {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 150px;
}

.main .sidebar .pagination .path:hover {
  color: var(--c-accent-blue);
  border-bottom: 1px dashed var(--c-accent-blue);
}

.main .sidebar .resize {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 2px;
  background-color: var(--c-accent-blue);
  cursor: ew-resize;
  transition: width 0.2s ease;
}

.main .sidebar .directory-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  font-size: 80%;
  color: var(--c-text-medium);
  padding: 10px;
}

.main .sidebar .directory-list::-webkit-scrollbar {
  width: 8px;
}

.main .sidebar .directory-list::-webkit-scrollbar-track {
  background: var(--c-sidebar);
}

.main .sidebar .directory-list::-webkit-scrollbar-thumb {
  background-color: var(--c-accent-blue);
  border-radius: 8px;
  border: 2px solid var(--c-sidebar);
}

.main .sidebar .directory-list .list-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.main .sidebar .directory-list .list-item span {
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main .sidebar .directory-list .list-item.directory {
  font-weight: bold;
  color: var(--c-text-light);
}

.main .sidebar .directory-list .list-item.directory:hover span {
  text-decoration: underline;
  color: var(--c-accent-blue);
}

.main .sidebar .directory-list .list-item:not(.directory) {
  margin-bottom: 7px;
  padding-left: 20px;
}

.main .sidebar .directory-list .list-item:hover {
  background-color: rgba(0, 128, 255, 0.1);
}

.main .sidebar .directory-list .list-item:hover svg {
  color: var(--c-accent-blue);
}

.main .content {
  background-color: var(--c-bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .content .wrapper {
  width: 60%;
}

.main .content .wrapper .visualizer {
  height: 70vh;
  background-color: var(--c-sidebar);
  display: flex;
  align-items: flex-end;
}

.main .content .wrapper .visualizer .bar {
  flex-grow: 1;
  background-color: var(--c-accent-blue);
  border-radius: 2px 2px 0px 0px;
}

.main .content .wrapper .controls {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--c-sidebar);
  color: var(--c-accent-blue);
  font-size: 80%;
  padding: 10px;
}
.main .content .wrapper .controls svg {
  cursor: pointer;
  fill: var(--c-accent-blue);
  transition: all 0.2s ease-in-out;
}

.main .content .progress {
  width: 100%;
  height: 4px;
  margin: 5px 0px;
  background-color: var(--c-sidebar);
  touch-action: none;
  -ms-touch-action: none;
  cursor: pointer;
}

.main .content .progress .inner {
  background-color: var(--c-accent-blue);
  height: 100%;
  width: 0;
  border-radius: 0px 10px 10px 0px;
}

.main .content .current-audio {
  font-size: 80%;
  color: var(--c-text-light);
  font-weight: 500;
  text-align: center;
  padding-top: 5px;
}

.current-playing {
  color: var(--c-accent-blue);
  font-weight: bold;
}

.main .content .wrapper .controls svg:not(.disabled):hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 5px var(--c-glow-blue));
}

.main .content .wrapper .controls svg.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
